html, body {
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: opacity 1s ease-out;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  /* background-color: rgba(187, 234, 236, 0.2); */
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  padding-top: 20px;
  font-family: monospace;
  text-transform: uppercase;
}

main {
  width: 600px;
  display: block;
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

label {
  font-size: 125%;
  font-weight: bold;
  font-family: monospace;
  text-transform: uppercase;
}

label.no-input {
  display: inline;
}

.value {
  display: block;
  position: relative;
  height: 30px;
}

.value::after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: rgba(85, 111, 112, 0.424);
  ;
}

.value input[type="text"], .value input[type="password"] {
  width: calc(100% - 10px);
  height: 100%;
  /* background: rgba(187, 234, 236, 0.9); */
  background-color: darkgrey;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
}

.value input:focus {
  outline: none;
}

.container {
  background-color: lightgrey;
  /* background-color: rgba(187, 234, 236, 0.5); */
  /* border-radius: 5px; */
  /* box-shadow: 1px 1px 2px 2px black; */
  border: groove 2px;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  border: none;
  background-color: rgb(139, 139, 139);
  color: rgb(0, 0, 0);
  font-family: monospace;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
  padding: 3px 6px;
  /* border-radius: 3px; */
  border: groove 2px;
  transition: background-color 0.4s ease-in-out, color 0.2s ease-in-out 0.2s;
}

button:hover {
  background-color: rgb(161, 161, 161);
  color: rgb(0, 0, 0, 0.7);
}

button:focus {
  outline: none;
}

button[disabled] {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.actions button:not(:last-child) {
  margin-right: 10px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

li.no-input {
  display: flex;
}

li.no-input label {
  margin-right: 20px;
}

li.no-input .value {
  display: flex;
  width: fit-content;
}

li.no-input .value::after {
  display: none;
}

section.info, section.mqtt {
  width: calc(100% - 20px);
}

.two-columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.two-columns .container {
  width: calc(50% - 30px);
}

.up-to-date {
  color: green;
}

.new-version {
  color: red;
}

.mqtt_topics {
  align-items: center;
}

.mqtt_topics label {
  margin-right: 5px;
}

.wifi_list {
  height: 300px;
}

.scanned_networks {
  height: calc(100% - 45px);
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 5px;
}

.scanned_networks li {
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  margin: 0;
}

.scanned_networks li::after {
  content: '';
  position: absolute;
  left: calc(50% - 50px);
  bottom: 0;
  width: 100px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.295);
}

.scanned_networks li.selected {
  background-color: aquamarine;
}

.ping {
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 30px;
  background-color: lightgrey;
  border: groove 2px;
  display: none;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bolder;
}

.ping[status] {
  display: flex;
}

.ping[status='onine'] {
  color: green;
  border-color: green;
}

.ping[status='offline'] {
  color: red;
  border-color: red;
}

.ping::after {
  content: attr(status);
}