html, body {
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: opacity 1s ease-out;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(187, 234, 236, 0.2);
  display: flex;
  justify-content: center;
  align-content: flex-start;
  padding-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  width: 600px;
  display: block;
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

label {
  font-size: 125%;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

label.no-input {
  display: inline;
}

.value {
  display: block;
  position: relative;
  height: 30px;
}

.value::after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: rgba(85, 111, 112, 0.424);
  ;
}

.value input[type="text"], .value input[type="password"] {
  width: calc(100% - 10px);
  height: 100%;
  background: rgba(187, 234, 236, 0.9);
  border: none;
  border-radius: 3px;
  padding-left: 10px;
}

.value input:focus {
  outline: none;
}

.container {
  background-color: rgba(187, 234, 236, 0.5);
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px gray;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  border: none;
  background-color: rgb(47, 79, 79);
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 3px;
  transition: background-color 0.4s ease-in-out, color 0.2s ease-in-out 0.2s;
}

button:hover {
  background-color: rgba(47, 79, 79, 0.2);
  color: rgb(0, 0, 0, 0.7);
}

button:focus {
  outline: none;
}

button[disabled] {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.actions button:not(:last-child) {
  margin-right: 10px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

li.no-input {
  display: flex;
}

li.no-input label {
  margin-right: 20px;
}

li.no-input .value {
  display: flex;
  width: fit-content;
}

li.no-input .value::after {
  display: none;
}

section.info, section.mqtt {
  width: calc(100% - 20px);
}

.two-columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.two-columns .container {
  width: calc(50% - 30px);
  min-height: 300px;
}

.up-to-date {
  color: green;
}

.new-version {
  color: red;
}

.mqtt_topics {
  align-items: center;
}

.mqtt_topics label {
  margin-right: 5px;
}