html, body {
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: opacity 1s ease-out;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(187, 234, 236, 0.2);
  display: flex;
  justify-content: center;
  align-content: flex-start;
  padding-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  width: 600px;
  display: block;
}

label {
  font-size: 125%;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.value {
  display: block;
  position: relative;
  width: fit-content;
  height: 30px;
}

.value::after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: rgba(85, 111, 112, 0.424);
  ;
}

.value input {
  height: 100%;
  background: transparent;
  border: none;
}

.value input:focus {
  outline: none;
}

.container {
  background-color: rgba(187, 234, 236, 0.5);
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px gray;
  padding: 10px;
  margin-bottom: 20px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

section.info, section.mqtt {
  width: calc(100% - 20px);
}

.two-columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.two-columns .container {
  width: calc(50% - 30px);
  min-height: 300px;
}